<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- CBSE Result Servlet Configuration -->
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>ResultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/checkResult</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
